package pages


import (
    "github.com/aiosifelis/go-web-app-template/src/views/layouts"
)

templ SignupPage(data *layouts.PageData) {
    @layouts.AuthLayout(data) {
        <h2>{ data.Title }</h2>
        <p>{ data.Content }</p>
        <nav>
            <a href="/auth/login">Login</a>
        </nav>
    }
}